.comments {
  margin-top: 20%;
  padding: 2%;
  margin-left: 50px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.comments-container {
  margin-left: 30px;
  margin-top: 40px;
  width: 80%;
  padding-left: 1%;
  margin-bottom: 10%;
  box-shadow: 5px 5px 20px;
  color: rgb(5, 5, 5);
  background-color: rgb(252, 252, 252);
  border-radius: 20px;
}

.comment-form-title {
  margin-left: 50px;
  font-size: 22px;
}

.comment-form-textarea {
  width: 80%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(131, 131, 117);
  margin-left: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px;
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(7, 7, 7);
  border-radius: 8px;
  color: rgb(135, 168, 228);
  margin-left: 50px;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(8, 8, 8);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-top: 20px;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px;
  margin-bottom:20px; ;
}

.comment-image-container img {
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: absolute;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(32, 71, 131);
} 

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(32, 71, 131);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:20px;
  
}

.image-title{
  text-align: center;
}
.image-text {
  text-align: center;
  }