




@media (min-width: 700px) {
  .home-container {

    background-color: var(--background-blue);
    height: 120vh;
    }
  }
  @media (max-width: 700px) {
    .home-container {
  
      background-color: var(--background-blue);
      height: 150vh;
      }
    }

:root{
    --background-blue: #215b91;
    --light-blue: #2B8EC0;
    --header-blue: #132229;
  }

  
.home-container {

background-color: var(--background-blue);

}
