

#navItem{
    color:rgb(255, 255, 255) !important;
}


/*  */#navbar-container{
    align-content:space-between;

    justify-content: end;
  
}

}


.loginNav{
   font-size: 20px;
    margin:20px;
}

.signupNav{
    font-size: 20px;
     margin:20px;
 }
 
.logoutNav{
    font-size: 20px;
     margin:20px;
 }
 
