
#navItem{
    color:white !important;
}

/*  */#navbar-container{
    align-content:space-between;
    justify-content: end;
  
}
img{
    width: 30%;
    height: auto; 
    justify-content: start;
   
}


.loginNav{
   font-size: 20px;
    margin:20px;
}

.signupNav{
    font-size: 20px;
     margin:20px;
 }
 
.logoutNav{
    font-size: 20px;
     margin:20px;
 }
 
